	
body{

	background-color:#424242;
}

	* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav {
				width:500px; /*Le establecemos un ancho*/
				margin:0 auto; /*Centramos automaticamente*/
			}

			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;

				background: -moz-linear-gradient(top,  #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(50%,#6a6a6a), color-stop(51%,#5e5e5e), color-stop(100%,#717171)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); /* Opera 11.10+ */
        border-radius:20px;
}
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

			nav {
background-color: #484848;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}


/****Main Title***/
.main_title{
	font-size: 72px;
	color: #222;
	font-family: 'Amarante', cursive;
	text-align:center;
	margin: 0;
	padding: 0;
}
.main_letter{
	font-size: 132px;
	color: #f00;
}

/****Main Slider Box !****/
.acc_slider {
  width: 753px;
  height: 293px;
  background-color: #ccc;
  margin: 20px auto;
  overflow: hidden;
  border: 1px solid #000;
}
.acc_slider:before {
	content: " ";
	display: block;
	position: absolute;
	width: 753px;
	height: 293px;
	background-color: #000;
	z-index: -1;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.acc_slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 3000px;
  height: inherit;
}
.acc_slider li {
  position: relative;
  list-style: none;
  float: left;  
  padding: 0;
  margin: 0;
  width: 94px;
  overflow: hidden;
  border-right: 1px solid #000;
}
.acc_slider li img {
  width: 469px;
  margin-left: -70px;
}
.acc_slider li,
.acc_slider li img {
  height: inherit;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.acc_slider li:last-child {
  padding-right: 500px;
}
/***Texts****/
.acc_slider li .slide_textarea ,
.acc_slider li .slide_title {
	color: #fff;
	position: absolute;
	white-space: nowrap;
}
.acc_slider li .slide_title {
	top: 94px;
	left: 190px;
	font-size: 32px;
}
.acc_slider li .slide_textarea {
	top: 150px;
	left: 240px;
	font-size: 24px;
}
/****Special Text !***/
.acc_slider li .slide_title {
	top: 58px;
}
.acc_slider li .slide_title:first-letter {
	font-size: 63px;
}
.acc_slider li:nth-child(1) .slide_title:first-letter {
	color: #b4180d;
}
.acc_slider li:nth-child(2) .slide_title {
	top: 49px;
	left:208px;
}
.acc_slider li:nth-child(2) .slide_title:first-letter {
	color: #779c1a;
}
.acc_slider li:nth-child(3) .slide_title:first-letter {
	color: #cdcbc9;
}
.acc_slider li:nth-child(4) .slide_title:first-letter {
	color: #7328ab;
}

.acc_slider li:nth-child(5) .slide_title {
	top: 69px;
	left:262px;
}
.acc_slider li:nth-child(5) .slide_title:first-letter {
	color: #d76b35;
}
.acc_slider li:nth-child(5) .slide_textarea {
	top: 190px;
	left: 280px;
}

.acc_slider li:nth-child(6) .slide_title {
	top: 69px;
	left:212px;
}
.acc_slider li:nth-child(6) .slide_title:first-letter {
	color: #538bc7;
}
.acc_slider li:nth-child(6) .slide_textarea {
	top: 200px;
	left: 240px;
}
.acc_slider li:nth-child(7) .slide_title:first-letter {
	color: #b97259;
}
.acc_slider li:nth-child(8) .slide_title:first-letter {
	color: #f2c366;
}

/****hover***/
.acc_slider ul:hover li {
  width: 40px;
}
.acc_slider ul li:hover {
  width: 469px;
}
.acc_slider ul li:hover > img {
  margin-left: 0;
}

/******Powered By Mghayour***/
.mghayour {
	height: 42px;
	font-size: 42px;
	text-align: center;
	color: #444;
}
.mghayour:before {
	content: "Powered By ";
	display: inline;
}
.mghayour:after {
	content: "MGhayour";
	color: #7328ab;
	display: inline;
}
