body {
		background-color: #424242;
}

#sala{
	float:right;
	height: -60px;
	width: 10px;
	border-radius: 4px;
	display: inline-block;
	margin: 4px;
	
}

h1{
	color:white;
}

h3{
	color:white;
}

.A1  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 0px ;
	
}

.A2  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color:black;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 10px ;
	
}

.A3  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 15px ;
	
}

.A4  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 20px ;
	
}

.A5  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 25px ;
	
}

.A6  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 27px ;
	
}



.B1  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 600px;
	margin-top: -420px ;
	
}

.B2  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 600px;
	margin-top: 10px ;
	
}

.B3  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 600px;
	margin-top: 15px ;
	
}

.B4  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 600px;
	margin-top: 20px ;
	
}

.B5  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 600px;
	margin-top: 25px ;
	
}

.B6  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 600px;
	margin-top: 27px ;
	
}

.C1  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 700px;
	margin-top: -420px ;
	
}

.C2  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 700px;
	margin-top: 10px ;
	
}

.C3  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 700px;
	margin-top: 15px ;
	
}

.C4  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 700px;
	margin-top: 20px ;
	
}

.C5  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 700px;
	margin-top: 25px ;
	
}

.C6  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 700px;
	margin-top: 27px ;
	
}
.D1  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 800px;
	margin-top: -420px ;
	
}

.D2  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 800px;
	margin-top: 10px ;
	
}

.D3  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 800px;
	margin-top: 15px ;
	
}

.D4  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 800px;
	margin-top: 20px ;
	
}

.D5  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 800px;
	margin-top: 25px ;
	
}

.D6  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 800px;
	margin-top: 27px ;
	
}
.E1  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 900px;
	margin-top: -420px ;
	
}

.E2  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 900px;
	margin-top: 10px ;
	
}

.E3  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 900px;
	margin-top: 15px ;
	
}

.E4  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 900px;
	margin-top: 20px ;
	
}

.E5  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 900px;
	margin-top: 25px ;
	
}

.E6  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 900px;
	margin-top: 27px ;
	
}
.F1  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 1000px;
	margin-top: -420px ;
	
}

.F2  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 1000px;
	margin-top: 10px ;
	
}

.F3  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 1000px;
	margin-top: 15px ;
	
}

.F4  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 1000px;
	margin-top: 20px ;
	
}

.F5  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 1000px;
	margin-top: 25px ;
	
}

.F6  {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 1000px;
	margin-top: 27px ;
	
}
